

.container{
    text-align: left;
    color: white;
    background-color: black;
    margin: auto;
    width: 40%;

}

.header{
    text-align: center;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: black;
    margin: 0;
    line-height: inherit;
    padding-left: 80px;
    padding-right: 80px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 18px;
    line-height: 1.77778;
    text-align: justify;
}

.postlist{
    text-align: left;
    display: list-item;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: disc;
    color: grey;
    line-height: 2;
}

a{
    color: whitesmoke;
    font-size: 17px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

footer{
    text-align: center;
    color: #899AA7;
}

@media (max-width: 720px) {

    .container{
        width: 100%;
    }

    body {
        padding-left: 20px;
        padding-right: 20px;
        
    }

  }